rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /sessions/{docId} {
      allow create: if request.resource.data.uid is string
                    && request.resource.data.uid.size() == 36
                    && request.resource.data.exerciseNames is list
                    && request.resource.data.durationSeconds is number;
      allow update: if resource.data.uid == request.resource.data.uid
                    && request.resource.data.exerciseNames is list;
      allow read, delete: if false;
    }

    match /user_stats/{uid} {
      allow write: if uid.size() == 36
                   && request.resource.data.totalSessions is number
                   && request.resource.data.totalDurationSeconds is number;
      allow read, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
