<div class="timer-block">
  <div class="timer-big" (click)="durationClick.emit()">{{ durationLabel() }}</div>
  <div class="timer-actions">
    @if (chronoStatus() === 'running') {
      <button class="timer-btn" (click)="pause.emit()">Break</button>
      <button class="timer-btn end" (click)="endSession.emit()">End</button>
    } @else if (chronoStatus() === 'paused') {
      <button class="timer-btn" (click)="resume.emit()">Reprendre</button>
    } @else if (chronoStatus() === 'ended') {
      <button class="timer-btn" (click)="resume.emit()">Reprendre</button>
      <button class="timer-btn" (click)="durationClick.emit()">Modifier</button>
    }
  </div>
</div>
