
    <div class="session-card" appLongPress (longPress)="longPress.emit()" (click)="onClick()">
      <div class="session-header">
        <span class="session-date">{{ dateLabel() }}</span>
        <div class="tag-list">
          @for (muscle of muscleTags(); track muscle) {
            <span class="muscle-tag" [ngStyle]="tagStyle(muscle)">{{ 'muscleGroups.' + muscle | translate }}</span>
          }
          @if (hasCardio()) {
            <span class="muscle-tag cardio-tag">{{ 'common.cardio' | translate }}</span>
          }
        </div>
      </div>
      <div class="session-stats">
        <div class="stat-item">
          @if (isOnlyCardio()) {
            <span class="stat-value orange">{{ totalDistanceKmFormatted() }}</span>
            <span class="stat-label">{{ 'common.distance' | translate }}</span>
          } @else {
            <span class="stat-value orange">{{ totalWeightFormatted() }}</span>
            <span class="stat-label">{{ 'common.weight' | translate }}</span>
          }
        </div>
        <div class="stat-item">
          <span class="stat-value blue">{{ exerciseCount() }}</span>
          <span class="stat-label">{{ 'common.exercises' | translate }}</span>
        </div>
        <div class="stat-item right">
          <span class="stat-value">{{ duration() }}</span>
          <span class="stat-label">{{ 'common.time' | translate }}</span>
        </div>
      </div>
    </div>
