<div class="chart-card">
	@if (isCardio()) {
		<div class="chart-tabs">
			<button class="tab-btn" [class.active]="selectedChart() === 'volume'" (click)="chartSelect.emit('volume')">
				{{ "common.duration" | translate }}
			</button>
			<button class="tab-btn" [class.active]="selectedChart() === 'weight'" (click)="chartSelect.emit('weight')">
				{{ "common.distance" | translate }}
			</button>
			<button class="tab-btn" [class.active]="selectedChart() === 'pace'" (click)="chartSelect.emit('pace')">
				{{ "statsExercise.pace" | translate }}
			</button>
			<button class="tab-btn" [class.active]="selectedChart() === 'speed'" (click)="chartSelect.emit('speed')">
				{{ "statsExercise.speed" | translate }}
			</button>
		</div>
		@if (selectedChart() === "volume") {
			<app-cardio-time-chart [occurrences]="groupedCardioOccurrences()" [groupBy]="groupBy()" />
		} @else if (selectedChart() === "weight") {
			<app-cardio-distance-chart [occurrences]="groupedCardioOccurrences()" [groupBy]="groupBy()" />
		} @else if (selectedChart() === "pace") {
			<app-cardio-pace-chart [occurrences]="groupedCardioOccurrences()" [groupBy]="groupBy()" />
		} @else {
			<app-cardio-speed-chart [occurrences]="groupedCardioOccurrences()" [groupBy]="groupBy()" />
		}
	} @else {
		<div class="chart-tabs">
			<button class="tab-btn" [class.active]="selectedChart() === 'volume'" (click)="chartSelect.emit('volume')">
				{{ "common.volume" | translate }}
			</button>
			<button class="tab-btn" [class.active]="selectedChart() === 'weight'" (click)="chartSelect.emit('weight')">
				{{ "common.weight" | translate }}
			</button>
			<button class="tab-btn" [class.active]="selectedChart() === 'reps'" (click)="chartSelect.emit('reps')">
				{{ "common.totalReps" | translate }}
			</button>
		</div>
		@if (selectedChart() === "volume") {
			<app-volume-line-chart [occurrences]="groupedOccurrences()" [groupBy]="groupBy()" />
		} @else if (selectedChart() === "reps") {
			<app-total-reps-line-chart [occurrences]="groupedOccurrences()" [groupBy]="groupBy()" />
		} @else {
			<app-weight-line-chart [occurrences]="groupedOccurrences()" [groupBy]="groupBy()" />
		}
	}
</div>
