@if (highlights().length) {
  <div class="highlights-card">
    @for (highlight of highlights(); track highlight.id) {
      <div class="highlight-tile" [class.highlight-tile--perf]="highlight.category === 'perf'" [class.highlight-tile--regularity]="highlight.category === 'regularity'">
        <span class="tile-label">{{ highlight.labelKey | translate }}</span>
        @if (highlight.exerciseName) {
          <span class="tile-exercise">{{ highlight.exerciseName }}</span>
        }
        <span class="tile-value">{{ highlight.value }}</span>
        @if (highlight.subValue) {
          <span class="tile-sub-value">{{ highlight.subValue }}</span>
        }
      </div>
    }
  </div>
}
