@if (highlights().length) {
  <div class="highlights-card">
    @for (highlight of highlights(); track highlight.id; let i = $index) {
      <div class="highlight-tile" [style.--tile-color]="tileColors()[i]" [class.highlight-tile--perf]="highlight.category === 'perf'" [class.highlight-tile--regularity]="highlight.category === 'regularity'">
        <span class="tile-label">{{ highlight.labelKey | translate }}</span>
        @if (highlight.exerciseName) {
          <span class="tile-exercise">{{ highlight.exerciseName }}</span>
        }
        <span class="tile-value">{{ highlight.value }}</span>
        @if (highlight.subValue) {
          <span class="tile-sub-value">
            {{ highlight.subValue }}
            @if (highlight.subContext) {
              <span class="tile-sub-context">{{ highlight.subContext }}</span>
            }
          </span>
        }
      </div>
    }
  </div>
}
